apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ingress
spec:
  secretStoreRef:
    name: pulumi-secret-store
    kind: ClusterSecretStore
  target:
    name: ingress
    creationPolicy: Owner
    template:
      type: kubernetes.io/tls
  data:
    - secretKey: tls.crt
      remoteRef:
        key: ingress.tls.crt
    - secretKey: tls.key
      remoteRef:
        key: ingress.tls.key  

