---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    {{- include "apps.labels" . | nindent 4 }}
spec:
  destination:
    namespace: ingress-nginx
    server: 'https://kubernetes.default.svc'
  sources:
  - repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.14.3
    chart: ingress-nginx
    helm:
      values: |
        controller:
          service:
            annotations:
              metallb.io/loadBalancerIPs: 192.168.1.70
          extraArgs:
            default-ssl-certificate: "ingress-nginx/ingress"
      parameters:
        - name: controller.ingressClassResource.default
          value: 'true'
  - repoURL: https://github.com/rhoades-brown/argo-config
    targetRevision: main
    path: manifests/ingress-nginx
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true